<launch>  
  <include file="$(find agile_grasp_filter)/launch/single_camera_grasps.launch">
    <!--<param name="frame" value="/camera_depth_optical_frame"/>-->
  </include>

  <node name="agile_grasp_filter" pkg="agile_grasp_filter" type="agile_grasp_filter_node" output="screen"> 
    <param name="threshold" value="-1."/> <!-- [-1.0 , 1.0] -->
  </node> 
</launch>